.login-image {
    opacity: 0.8;
}

.login-button-upload-image {
    position: absolute;
    right: 50%;
    left: 50%;
    top: 22%;
    z-index: 999;
}

.login-button-upload-image_icon {
    font-size: 2em;
}
