<ion-content class="background-content">
  <ion-item lines="none" class="ion-margin-top">
    <h1>Iniciar Sesión</h1>
  </ion-item>
  <ion-row class="ion-justify-content-center ion-margin">
    <img class="login-image" height="150" [src]="image" alt="Imagen Login" />
  </ion-row>
  <ion-row class="ion-justify-content-center login-button-upload-image">
    <ion-button fill="clear" size="large" (click)="selectImage()">
      <ion-icon slot="icon-only" name="cloud-upload" color="dark"></ion-icon>
    </ion-button>
  </ion-row>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-button type="submit" color="dark" expand="block" fill="solid">Ingresar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-button color="primary" expand="block" fill="clear" routerLink="/signin">Registrarme</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>