<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-content">
  <ion-row class="ion-justify-content-center ion-margin">
    <img height="150" src="../../../assets/images/avatar.png" alt="Imagen Registrarme" />
  </ion-row>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-button type="submit" color="dark" expand="block" fill="solid">Registrarme</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-button color="primary" expand="block" fill="clear" routerLink="/login">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>