<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Últimos Lanzamientos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-skeleton *ngIf="loading"></app-skeleton>
  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let movie of movies">
      <ion-thumbnail slot="start">
        <img [src]="movie.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ movie?.name }}</h2>
        <p>{{ movie?.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>