<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end" size="small">
      <ion-button routerLink="discover">
        <ion-icon slot="icon-only" name="film-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Peliculas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <app-skeleton *ngIf="loading"></app-skeleton>
  <ion-list *ngFor="let movie of movieList">
    <app-item-movie [movie]="movie" (click)="goToDetail(movie)"></app-item-movie>
  </ion-list>
</ion-content>